---
- name: Gather package facts.
  ansible.builtin.package_facts:
    manager: auto
  when: ansible_facts.userspace_bits == '32'

- name: Upgrade libseccomp2 to latest version (32-bit Debian).
  ansible.builtin.import_tasks: tasks/debian-libseccomp-update.yml
  when:
    - ansible_facts.os_family == "Debian"
    - ansible_facts.userspace_bits == '32'
    - ansible_facts.packages['libseccomp2'][0]['version'] is version('2.4.4', '<')

- name: Synchronize internet-monitoring directory.
  ansible.posix.synchronize:
    src: internet-monitoring
    dest: ~/internet-monitoring
    delete: false
    recursive: true
  become: false

# This is an upgrade task from 1.x to 2.x - can be removed for 3.x.
- name: Ensure internet-monitoring directory is not a Git repository.
  ansible.builtin.file:
    path: ~/internet-monitoring/.git/
    state: absent
  become: false

- name: Copy templated internet-monitoring files into place.
  ansible.builtin.template:
    src: templates/{{ item.src }}
    dest: ~/internet-monitoring/{{ item.dest }}
  loop:
    - src: grafana-config.monitoring.j2
      dest: grafana/config.monitoring
  notify: Restart internet-monitoring
  become: false

- name: Ensure internet-monitoring environment is running.
  community.docker.docker_compose:
    project_src: ~/internet-monitoring/
    build: false
  become: false
