---
- name: Ensure Starlink directory exists.
  file:
    path: "{{ config_dir }}/starlink-exporter"
    state: directory
    mode: 0755
  become: false

- name: Copy Starlink docker-compose template to Pi.
  ansible.builtin.template:
    src: templates/starlink-docker-compose.yml.j2
    dest: "{{ config_dir }}/starlink-exporter/docker-compose.yml"
    mode: '0640'
  become: false
  notify: Restart starlink-exporter

- name: Ensure Starlink Prometheus exporter is running.
  community.docker.docker_compose:
    project_src: "{{ config_dir }}/starlink-exporter/"
    build: false
  become: false

- name: Copy starlink dashboard config to grafana.
  ansible.builtin.copy:
    src: files/starlink-overview.json
    dest: "{{ config_dir }}/internet-monitoring/grafana/provisioning/dashboards/"
    mode: 0644
  become: false
