# {{ ansible_managed }}
---
version: "3"

services:
{% for sensor in airgradient_sensors %}
  airgradient-{{ sensor.id }}:
    container_name: airgradient-{{ sensor.id }}
    image: php:8-apache
    command: "/bin/bash -c 'mkdir /sensors; chown -R 33:33 /sensors; a2enmod rewrite; apache2-foreground'"
    ports:
      - "{{ sensor.port }}:80"
    volumes:
      - './:/var/www/html'
    restart: unless-stopped
{% endfor %}
