# {{ ansible_managed }}
---
version: "3"

services:
  airgradient:
    container_name: airgradient
    image: php:8-apache
    command: "/bin/bash -c 'mkdir /sensors; chown -R 33:33 /sensors; a2enmod rewrite; apache2-foreground'"
    ports:
      - "9925:80"
    volumes:
      - './:/var/www/html'
    restart: unless-stopped
