daemon=300				# check every 300 seconds
syslog=yes				# log update msgs to syslog
#mail=root				# mail all msgs to root
#mail-failure=root			# mail failed update msgs to root
pid=/var/run/ddclient/ddclient.pid		# record PID in file.
ssl=yes 				# use ssl-support

## CloudFlare
protocol={{ ddclient_protocol }}
use=web
login={{ ddclient_login }}
password={{ ddclient_password }}
zone={{ ddclient_zone }}
{{ ddclient_hosts }}
