# {{ ansible_managed }}
---
apiVersion: 1

# list of datasources that should be deleted from the database
deleteDatasources:
  - name: prometheus
    orgId: 1

# list of datasources to insert/update depending
# whats available in the database
datasources:
  - name: prometheus
    type: prometheus
    access: proxy
    orgId: 1
    url: http://prometheus:9090
    password:
    user:
    database:
    basicAuth: true
    basicAuthUser: admin
    basicAuthPassword: foobar
    withCredentials:
    isDefault:
    jsonData:
      graphiteVersion: "1.1"
      tlsAuth: false
      tlsAuthWithCACert: false
    secureJsonData:
      tlsCACert: "..."
      tlsClientCert: "..."
      tlsClientKey: "..."
    version: 1
    editable: true

{% if log_monitoring_enable %}
  - name: Loki
    type: loki
    access: proxy
    orgId: 1
    url: http://loki:3100
    user:
    database:
    basicAuth: false
    isDefault: false
    jsonData: {}
    id: 42
    uid: GgLhdSmRk
    typeName: Loki
    typeLogoUrl: public/app/plugins/datasource/loki/img/loki_icon.svg
    readOnly: false
{% endif %}
