# {{ ansible_managed }}
---

version: '3'

# More information at https://www.home-assistant.io/installation/raspberrypi
services:
  homeassistant:
    container_name: home-assistant
    image: "ghcr.io/home-assistant/raspberrypi4-homeassistant:stable"
    volumes:
      - './etc-home-assistant:/etc/home-assistant/config'
      - '/etc/localtime:/etc/localtime:ro'
    restart: unless-stopped
    privileged: true
    network_mode: host
