# {{ ansible_managed }}
---
version: "3"

services:
{% for plug in shelly_plugs %}
  shelly-plug-{{ plug.name }}:
    container_name: shelly-plug-{{ plug.name }}
    image: php:8-apache
    ports:
      - "{{ plug.port }}:80"
    environment:
      SHELLY_HOSTNAME: '{{ plug.hostname }}'
      SHELLY_HTTP_USERNAME: '{{ shelly_plugs_http_username }}'
      SHELLY_HTTP_PASSWORD: '{{ shelly_plugs_http_password }}'
    volumes:
      - './:/var/www/html'
    restart: unless-stopped
{% endfor %}
