# {{ ansible_managed }}
---
services:
  shelly-plug:
    container_name: shelly-plug
    image: php:8-apache
    ports:
      - "9924:80"
    environment:
      SHELLY_HOSTNAME: '{{ shelly_plug_hostname }}'
      SHELLY_HTTP_USERNAME: '{{ shelly_plug_http_username }}'
      SHELLY_HTTP_PASSWORD: '{{ shelly_plug_http_password }}'
    volumes:
      - './:/var/www/html'
    restart: unless-stopped
