# {{ ansible_managed }}
---

# Use the same networks as internet-monitoring.
{# Make sure timetagger and nginx-proxy are in the same network #}
networks:
{% if domain_name_enable and domain_name and domain_timetagger %}
  front-tier:
    name: internet-monitoring-front-tier
    external: true
{% endif %}

services:
  timetagger:
    container_name: timetagger
    image: ghcr.io/almarklein/timetagger
    restart: unless-stopped
    hostname: '{{ timetagger_hostname }}'
    ports:
      - "8080:8080"
    environment:
      TIMETAGGER_BIND: 0.0.0.0:8080
      TIMETAGGER_DATADIR: /root/_timetagger
      TIMETAGGER_LOG_LEVEL: info
      TIMETAGGER_CREDENTIALS: test:$$2a$$08$$zMsjPEGdXHzsu0N/felcbuWrffsH4.4ocDWY5oijsZ0cbwSiLNA8.  # test:test
{% if domain_name_enable and domain_name and domain_timetagger %}
      VIRTUAL_HOST: {{ domain_timetagger }}.{{ domain_name }}
      VIRTUAL_PORT: 8080
{% endif %}
    volumes:
      - ./_timetagger:/root/_timetagger
{% if domain_name_enable and domain_name and domain_timetagger %}
    networks:
      - front-tier
{% endif %}
