# {{ ansible_managed }}
---

services:
  timetagger:
    container_name: timetagger
    image: ghcr.io/almarklein/timetagger
    restart: unless-stopped
    hostname: '{{ timetagger_hostname }}'
    ports:
      - "80:80"
    environment:
      TIMETAGGER_BIND: 0.0.0.0:80
      TIMETAGGER_DATADIR: /root/_timetagger
      TIMETAGGER_LOG_LEVEL: info
      TIMETAGGER_CREDENTIALS: test:$$2a$$08$$zMsjPEGdXHzsu0N/felcbuWrffsH4.4ocDWY5oijsZ0cbwSiLNA8.  # test:test
{% if domain_name_enable and domain_name and domain_timetagger %}
      VIRTUAL_HOST: {{ domain_timetagger }}.{{ domain_name }}
      VIRTUAL_PORT: 80
{% endif %}
    volumes:
      - ./_timetagger:/root/_timetagger
